# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# kotlin
.kotlin
kls_database.db

# other
eclipse
run
runs
.factorypath
